#ifndef DEFINES_H_
#define DEFINES_H_

#include <ap_int.h>
#include <ap_fixed.h>
#include <hls_stream.h>

#define N_INPUT {N_INPUT}
#define N_OUTPUT {N_OUTPUT}

#define LUT_SIZE {LUT_SIZE}

// Model related
typedef ap_fixed<{TOT_BITS},{IBITS}> input_t;
typedef ap_fixed<{TOT_BITS},{IBITS}> result_t;

// LUT related
typedef ap_fixed<{TOT_BITS},{IBITS}> lut_t;
typedef ap_fixed<{TOT_BITS},{IBITS}> lut_input_t;

#endif